


@media only screen and (max-width: 768px){
    .banner{
        flex-direction: column;
    }

    .grvcdetils{min-height: 108px;
        border-radius: 5px 5px 5px 5px;
        
        
    
    }
    .listtable{
        justify-content: center;
}


    
    
    .groomimgheading{
        font-size: 20px;
        margin-right:42px;
    }
    .vcp{
        font-size: 16px;
    }
    .whychoocnt{
        flex-direction: column;
}
.whychhoscnt{
    align-items: center;
}
.waylist{
    font-size: 19px;
}
.whychoosimg{
    width: 332px;
    margin-top: 77px;
}
.grvcheading{
    font-size: 18px;
}


.locationtitle{
    font-size: 18px;
}


.grvcimgmain{
    flex-direction: column;
    row-gap: 20px;
}




.reviwtexst1{
    margin-top: -106px;
}

.weareavalabetitle{
    line-height: 1.3;
    text-align: center;
    
}
.iconsmainbox{
    grid-template-columns: auto auto;
}
.footercntmainbox {
    flex-direction: column;
}
.meanu{
    display: none;
}
.harmiconmainbox{
    display: block;
}

}


@media only screen and (max-width: 450px){
    .logo{
        background-size: 56px;
    }
     .bannerimag{
        display: none;
     }
.table{
    margin-top: 20px;
    padding: 20px;
}
.namser{
    flex-direction: column;
    row-gap: 20px;

}
.listform{
    row-gap: 20px;

}
.iconsmainbox{
    grid-template-columns: auto;

}
}
